{% load i18n static theme_material_kit %}
{% load static %}
<!-- Navbar Light -->
  <!-- Navbar -->
<div class="container-fluid position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
<nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
  
    <!-- <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" title="Designed and Coded by ComsysIT" data-placement="bottom" target="_blank">
     IOCL
    </a> -->
     
     <a class="nav-link ps-2 d-flex flex-column align-items-center font-weight-bold"
   href="{% url 'home' %}" target="_blank" style="text-align: center;">
  
  <img src="{% static 'img/head.png' %}" width="50px" alt="Head Count" style="z-index: 1050;">
  
  <div class="mt-1" style="font-size: 18px;">Head count</div>
  
</a>
         
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="d-flex justify-content-end mb-3">
    <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">
           
        
          
         
          <!--  -->
         
        <li class=" p-1 nav-item dropdown dropdown-hover ms-lg-auto my-auto ms-3 ms-lg-0">
          <!-- <a class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold" style="font-size: 22px;" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
           
            Visitor List
           
          </a> -->
          <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
            <div class="d-none d-lg-block">
              <a href="{% url 'visitor_out' %}" style="font-size: 20px;" class="nav-link ps-2 d-flex cursor-pointer align-items-center dropdown-item">
                Pending Visitor Out
              </a>
              <!-- <a href="{% url 'depart_master' %}" class="nav-link ps-2 d-flex cursor-pointer align-items-center dropdown-item">
            Blacklist
              </a> -->
          </div>
          </div>
          <li class=" p-1 nav-item dropdown dropdown-hover ms-lg-auto my-auto ms-3 ms-lg-0">
          <a class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold" style="font-size: 22px;" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
           
            Add Master
           
          </a>
          <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
            <div class="d-none d-lg-block">
              <a href="{% url 'comp_master' %}"  style="font-size: 20px;"class="nav-link ps-2 d-flex cursor-pointer align-items-center dropdown-item">

  Company Master
  </a>
   <a href="{% url 'machine_master' %}" style="font-size: 20px;" class="nav-link ps-2 d-flex cursor-pointer align-items-center dropdown-item">


  Machine Master
  </a>
  <a href="{% url 'depart_master' %}" style="font-size: 20px;" class="nav-link ps-2 d-flex cursor-pointer align-items-center dropdown-item">
  
  Department Master
  </a>
  <a href="{% url 'des_master' %}"  style="font-size: 20px;"class="nav-link ps-2 d-flex cursor-pointer align-items-center dropdown-item">
  
 Designation Master
  </a>
  <a href="{% url 'enroll_mast' %}"  style="font-size: 20px;"class="nav-link ps-2 d-flex cursor-pointer align-items-center dropdown-item">
   
   EnrollID Master
  </a>
   <a href="{% url 'emp_master' %}"  style="font-size: 20px;" class="nav-link ps-2 d-flex cursor-pointer align-items-center dropdown-item">
  
   Employee Master
  </a>
   <a href="{% url 'in_console' %}" style="font-size: 20px;" class="nav-link ps-2 d-flex cursor-pointer align-items-center dropdown-item">
    
  IN Console Mismatch
  </a>
  <a href="{% url 'con_mismatch' %}" style="font-size: 20px;" class="nav-link ps-2 d-flex cursor-pointer align-items-center dropdown-item">
    
  OUT Console Mismatch
  </a>
  
  
</div>
  </div>
        </li>
        <!-- report -->
          <li class=" p-1 nav-item dropdown dropdown-hover ms-lg-auto my-auto ms-3 ms-lg-0 ">
          <a class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold" style="font-size: 20px;" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
            Report
          </a>
          <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
            <div class="d-none d-lg-block">
               <!-- <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" style="font-size: 20px;" href="{% url 'visitor_report' %}">
           
           Visitor Report
           
          </a> -->
            <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" style="font-size: 20px;" href="{% url 'report' %}" >
                    <!-- <i class="fa fa-download me-1" aria-hidden="true"></i> -->
                  HeadCount Report
                  </a>
            </div>



          </div>
        </li>
        <!-- report -->
         
        </li>
        <li class=" p-1 nav-item  my-auto ms-3 ms-lg-0">
          <a class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold"
   style="font-size: 22px;" href="{% url 'logout_visitor' %}">
   Logout
</a>
         
        </li>
      <!--   <li class="nav-item ms-lg-auto my-auto ms-3 ms-lg-0">
          
          <a href="https://www.creative-tim.com/product/material-kit" class="btn btn-sm  bg-gradient-primary  mb-0 me-1 mt-2 mt-md-0">Free Download</a></li> -->
      </ul>
    </div>
    </div>
    

</nav>
<!-- End Navbar -->
</div></div></div>
